.mainBackground {
  min-height: 100vh;
  background-image: linear-gradient(#5f8d4e 10%, #285430 90%);
  background-size: contain;
  background-repeat: no-repeat;
}

.suiseFont {
  font-family: "suise", "Sans Serif";
}
.m-05 {
  margin-top: 0.1rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

@font-face {
  font-family: suise;
  src: url("/assets/Suisse.ttf");
}
