.block {
  min-height: 60px;
  display: inline-flex;
  align-items: center;
  position: absolute;
  cursor: pointer;
  width: 65px;
  font-weight: bold;
  height: 65px;
  left: 2px;
  top: 2px;
  background-color: aliceblue;
  color: black;
  z-index: 1;
  border-radius: 15%;
  background-image: linear-gradient(#ffffd5 0%, #e5d9b6 95%, black 100%);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -2px 2px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -3px 3px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -7px 4px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 3px 1px;
}

.points {
  bottom: 5%;
  right: 5%;
}
